<h4>Add new user</h4>

<form (ngSubmit)="createUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           name="name" id="name"
           class="form-control"
           #nameInput
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
           name="email" id="email"
           class="form-control"
           #emailInput
    />
  </div>
  <div class="form-group"> Active
    <div class="input-group-text">
      <input type="radio" name="mode" value="yes" [(ngModel)]="mode" #modeInput> Yes
    </div>
    <div class="input-group-text">
      <input type="radio" name="mode" value="no" [(ngModel)]="mode" #modeInput> No
    </div>
  </div>
 <div class="form-group">
   <select class="custom-select" name="select" #selectInput >
     <option selected>Choose this role</option>
     <option value="user">User</option>
     <option value="editor">Editor</option>
     <option value="admin">Admin</option>
   </select>
 </div>
  <button
    type="submit"
    class="btn btn-primary"
  >Create</button>
</form>



