<form (ngSubmit)="createGroup()">
  <div class="form-group mt-2">
    <div class="form-group">
      <label for="groupName">Group name</label>
      <input type="text"
             name="groupName" id="groupName"
             class="form-control"
             placeholder="Name"
             #groupNameInput
      />
    </div>
    <button
      type="submit"
      class="btn btn-success"
    >Create</button>
  </div>
</form>
