<main class="container-fluid">
  <div class="row mt-2">
    <div class="col-2">
      <app-new-user></app-new-user>
    </div>
    <div class="col-2">
      <app-new-group></app-new-group>
    </div>
    <div class="col-2">
      <app-users></app-users>
    </div>
    <div class="col-2">
      <app-groups></app-groups>
    </div>
    <div class="col-2"></div>
  </div>
</main>
