<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title"><strong>User name: </strong>{{ user.name}}</h5>
        <p class="card-text small"><strong>User email: </strong>{{ user.email}}</p>
        <div class="card-text"><strong>User status(active or no):  </strong>{{ user.active }}</div>
        <p class="card-text small"><strong>User role: </strong>{{ user.role}} </p>
      </div>
    </div>
  </div>
</div>
